.button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.neutral {
    background-color: cadetblue;
}
.bad {
    background-color: crimson;
}
.good {
    background-color: #04aa6d;
}
