.col-25,
.col-75 {
    float: left;
    margin-top: 6px;
}
textarea {
    height: 200px;
}
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.button {
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.neutral {
    background-color: #5f9ea0;
}
.bad {
    background-color: #dc143c;
}
.good {
    background-color: #04aa6d;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25 {
    width: 25%;
}
.col-75 {
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25,
    .col-75 {
        width: 100%;
        margin-top: 0;
    }
}
